.input--outlined:disabled {
  background-color: $color-bg-disabled;
  border-color: $color-border-disabled;
  color: $color-content-disabled;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &--white {
    .input-label {
      color: $color-contrast;
    }

    .input--outlined {
      border-color: $color-border-default;
      color: $color-content-default;
      background-color: transparent;

      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }

      &:focus {
        border-color: $color-primary;
        box-shadow: 0 0 0 2px rgba($color-primary, 0.1);
      }
    }

    .input-icon {
      color: $color-contrast;
    }

    .input-helper-text {
      color: rgba(255, 255, 255, 0.8);

      &--error {
        color: #fca5a5;
      }

      &--success {
        color: #86efac;
      }

      &--warning {
        color: #fde047;
      }
    }
  }

  &--black {
    .input-label {
      color: $color-content-default;
    }
  }
}

.input-label {
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  color: $color-content-default;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 8px;

  &--disabled {
    color: $color-content-disabled;
    cursor: not-allowed;
  }

  &.input-label--radio-checkbox {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: $font-weight-regular;
    font-size: $font-size-body;
    color: $color-gray700;

    &.input-label--disabled {
      color: $color-content-disabled;
      cursor: not-allowed;
    }
  }
}

// ... resto do seu código SCSS permanece igual
.input-radio-checkbox-label {
  order: 2;
}

.input-required {
  color: $color-feedback-error;
  font-size: $font-size-small;
}

.input-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.input {
  background-color: $color-bg-default;
  color: $color-gray700;
  border: $border-width-size-default solid $color-border-default;
  border-radius: $border-radius-size-default;
  padding: 10px 12px;
  cursor: text;

  &:disabled {
    cursor: not-allowed !important;

    * {
      user-select: none;
    }
  }
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 310px;
  min-height: 40px;
  height: 40px;
  font-family: $font-family-default;
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
    border-color: $color-border-focused;
    box-shadow: 0 0 0 2px rgba($color-border-focused, 0.1);
  }

  &--radio {
    width: auto;
    min-width: auto;
    min-height: auto;
    height: auto;
    padding: 0;
    margin: 0;
    border: none;
    background-color: none;
    box-shadow: none;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid $color-border-default;
      border-radius: 50%;
      background-color: $color-white;
      transition: all 0.1s ease-in-out;
    }

    &:checked::before {
      border-color: $color-primary;
      background-color: $color-primary;
      box-shadow: inset 0 0 0 3px $color-white;
    }

    &:focus::before {
      outline: none;
      box-shadow: 0 0 0 2px rgba($color-primary, 0.1);
    }

    &:disabled::before {
      border-color: $color-border-disabled;
      background-color: $color-bg-disabled;
      cursor: not-allowed;
    }

    &:checked:disabled::before {
      border-color: $color-border-disabled;
      background-color: $color-border-disabled;
    }

    &:focus,
    &:hover {
      border: none;
      background-color: none;
      box-shadow: none;
    }
  }

  &--checkbox {
    width: auto;
    min-width: auto;
    min-height: auto;
    height: auto;
    padding: 0;
    margin: 0;
    border: none;
    background-color: none;
    box-shadow: none;
    cursor: pointer;
  }

  &--outlined {
    background-color: $color-bg-default;
    border-width: $border-width-size-default;

    &:focus {
      outline: none;
      border-color: $color-primary;
      box-shadow: 0 0 0 2px rgba($color-primary, 0.1);
    }
  }

  &--filled {
    background-color: $color-gray100;
    border-color: transparent;

    &:focus {
      background-color: $color-white;
      border-color: $color-primary;
    }

    &:hover:not(:disabled) {
      background-color: $color-gray100;
    }
  }

  &--transparent {
    background-color: transparent;
    border-color: transparent;

    &:focus {
      background-color: $color-white;
      border-color: $color-primary;
    }
  }

  &--success {
    border-color: $color-feedback-success;

    &:focus {
      border-color: $color-feedback-success;
      box-shadow: 0 0 0 2px rgba($color-feedback-success, 0.1);
    }
  }

  &--warning {
    border-color: $color-feedback-warning;

    &:focus {
      border-color: $color-feedback-warning;
      box-shadow: 0 0 0 2px rgba($color-feedback-warning, 0.1);
    }
  }

  &--error {
    border-color: $color-feedback-error;

    &:focus {
      border-color: $color-feedback-error;
      box-shadow: 0 0 0 2px rgba($color-feedback-error, 0.1);
    }
  }

  &.input--has-leading-icon {
    padding-left: 40px;
  }

  &.input--has-trailing-icon {
    padding-right: 40px;
  }

  &--white {
    &:hover:not(:disabled, .input--error) {
      border-color: $color-border-hovered;
      background-color: $color-gray500;
    }

    &:disabled {
      background-color: $color-bg-disabled;
      border-color: $color-border-disabled;
      color: $color-content-disabled;
      cursor: not-allowed;

      &::placeholder {
        color: $color-content-disabled;
      }
    }

    &::placeholder {
      color: $color-placeholder-default;
      font-weight: $font-weight-regular;
    }

    &.input--outlined {
      border-color: $color-contrast;
      color: $color-contrast;
    }
  }

  &--black {
    &:hover:not(:disabled, .input--error) {
      border-color: $color-border-hovered;
      background-color: $color-bg-default;
    }

    &:disabled {
      background-color: $color-bg-disabled;
      border-color: $color-border-disabled;
      color: $color-content-disabled;
      cursor: not-allowed;

      &::placeholder {
        color: $color-content-disabled;
      }
    }

    &::placeholder {
      color: $color-placeholder-default;
      font-weight: $font-weight-regular;
    }

    &.input--outlined {
      border-color: $color-content-default;
      color: $color-content-default;
    }
  }
}

.input-container.input--date,
.input-container.input--time {
  .input {
    &[type='date'],
    &[type='datetime-local'],
    &[type='month'],
    &[type='week'],
    &[type='time'] {
      &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
      }

      &::-webkit-time-picker-indicator {
        display: none;
        -webkit-appearance: none;
      }

      &::-webkit-clear-button {
        display: none;
      }

      &::-webkit-inner-spin-button {
        display: none;
      }

      &::-moz-focus-inner {
        border: 0;
      }
    }
  }

  .picker-icon {
    position: absolute;
    right: 12px;
    z-index: 10;
    cursor: pointer;
    background-color: $color-bg-default;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;

    &:not(.picker-icon--disabled) {
      svg {
        stroke: $color-content-default;
      }
    }

    &.picker-icon--disabled {
      cursor: not-allowed;

      svg {
        stroke: $color-content-disabled;
      }
    }
  }
}

.input-icon-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  cursor: pointer;

  &::disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.input-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-border-default;
  z-index: 2;

  &--leading {
    left: 12px;
  }

  &--trailing {
    right: 12px;
  }

  .input:disabled ~ & {
    color: $color-content-disabled;
  }

  .input--success ~ & {
    color: $color-feedback-success;
  }

  .input--warning ~ & {
    color: $color-feedback-warning;
  }

  .input--error ~ & {
    color: $color-feedback-error;
  }

  &--white {
    color: $color-contrast;
  }

  &--black {
    color: $color-content-default;
  }
}

.input-helper-text {
  font-family: $font-family-default;
  font-size: $font-size-caption;
  line-height: 1.4;
  margin-top: 4px;
  cursor: default;

  &--neutral {
    color: $color-gray600;
  }

  &--success {
    color: $color-feedback-success;
  }

  &--warning {
    color: $color-feedback-warning;
  }

  &--error {
    color: $color-feedback-error;
  }

  &--white {
    color: $color-contrast;

    &.input-helper-text--error {
      color: #fca5a5;
    }

    &.input-helper-text--success {
      color: #86efac;
    }

    &.input-helper-text--warning {
      color: #fde047;
    }
  }

  &--black {
    color: $color-gray600;

    &.input-helper-text--error {
      color: $color-feedback-error;
    }

    &.input-helper-text--success {
      color: $color-feedback-success;
    }

    &.input-helper-text--warning {
      color: $color-feedback-warning;
    }
  }
}

.input--with-selection {
  background-color: rgba($color-soft, 0.3);
  border-color: $color-border-focused;

  &:hover {
    background-color: rgba($color-soft, 0.5);
  }
}

@media (max-width: $breakpoint-mobile) {
  .input {
    min-width: auto;
  }
}
