.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $spacing-sm;
  border: $button-border-width solid;
  width: 179px;
  height: 48px;
  gap: 12px;
  padding: 16px 8px;
  cursor: pointer;
  box-sizing: border-box; 

  &:disabled {
    cursor: not-allowed;
  }

  &--primary {
    background-color: $button-color-brand-bg-default;
    color: $button-color-brand-content-default;
    border: none;

    &:hover {
      background-color: $button-color-brand-bg-hovered;
    }

    &:focus-within {
      background-color: $button-color-brand-bg-pressed;
    }

    &:disabled {
      background-color: $button-color-brand-bg-disabled;
      color: $button-color-brand-content-disabled
    }
  }

  &--secondary {
    background-color: $button-color-secondary-bg-default;
    color: $button-color-secondary-content-default;
    border-color: none;

    &:hover {
      background-color: $button-color-secondary-bg-hovered;
    }

    &:focus {
      background-color: $button-color-secondary-bg-pressed;
    }

    &:disabled {
      background-color: $button-color-secondary-bg-disabled;
      color: $button-color-secondary-content-disabled;
    }
  }

  &--outlined {
    background-color: $button-color-outlined-bg-default;
    color: $button-color-outlined-content-default;
    border-color: $button-color-outlined-border-default;

    &:hover {
      background-color: $button-color-outlined-bg-hovered;
      color: $button-color-outlined-content-hovered;
      border-color: $button-color-outlined-border-hovered;
    }

    &:focus {
      background-color: $button-color-outlined-bg-pressed;
      color: $button-color-outlined-content-pressed;
      border-color: $button-color-outlined-border-pressed;
    }

    &:disabled {
      background-color: $button-color-outlined-bg-disabled;
      color: $button-color-outlined-content-disabled;
      border-color: $button-color-outlined-border-disabled
    }
  }

  &--negative {
    background-color: $button-color-negative-bg-default;
    color: $button-color-negative-content-default;
    border-color: $button-color-negative-border-default;

    &:hover {
      background-color: $button-color-negative-bg-hovered;
      border-color: $button-color-negative-border-hovered
    }

    &:focus {
      background-color: $button-color-negative-bg-pressed;
      border-color: $button-color-negative-border-pressed;
    }

    &:disabled {
      background-color: $button-color-negative-bg-disabled;
      color: $button-color-negative-content-disabled;
      border-color: $button-color-negative-border-disabled;
    }
  }
}