// styles.scss simplificado (apenas light)
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  gap: 8px;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: $font-family-default;
  font-size: $fs-small;
  font-weight: $font-regular;
  line-height: $lh-caption;
  transition: all 0.2s linear;

  &--primary {
    color: $background-base;
    background-color: $color-primary;

    path {
      fill: $background-base;
    }

    &:hover:not(:disabled) {
      opacity: 0.9;
    }

    &:active:not(:disabled) {
      opacity: 0.8;
    }

    &:disabled {
      color: $text-disabled;
      background-color: $background-disabled;
      cursor: not-allowed;

      path {
        fill: $text-disabled;
      }
    }
  }

  &--secondary {
    color: $background-base;
    background-color: $color-secondary;

    path {
      fill: $background-base;
    }

    &:hover:not(:disabled) {
      opacity: 0.9;
    }

    &:active:not(:disabled) {
      opacity: 0.8;
    }

    &:disabled {
      color: $text-disabled;
      background-color: $background-disabled;
      cursor: not-allowed;

      path {
        fill: $text-disabled;
      }
    }
  }

  &:focus {
    outline: 2px solid $color-primary;
    outline-offset: 2px;
  }

  @media (max-width: 768px) {
    padding: 8px 12px;
    font-size: 13px;
  }
}
