.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99%;
  margin: 0;
  padding-bottom: 48px;

  &.light {
    background-color: #ffffff;
  }

  &.dark {
    background-color: #222222;
  }
}

.preview-header {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 32px;
  padding-top: 16px;
  padding-right: 40px;
}
