.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: $border-radius-size-default;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
  padding: 6px;

  &.active {
    color: $list-item-color-content-actived;
  }

  &:hover {
    background-color: $list-item-color-bg-hovered;
  }

  &:not(.active) {
    color: $color-content-disabled;
    
  }

  .content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex: 1;
  }
}