:root {
  // Font Family
  --default-font-family: 'Roboto', sans-serif;

  // Font Sizes
  --font-size-h1: 36px;
  --font-size-h2: 24px;
  --font-size-body: 14px;
  
  // Cores base
  --color-base: #1A1A1A;
  --color-primary: #1C6EA4;
  --color-secondary: #FF7A00;
  --color-disabled: #a9a9a9;

  --color-base-disabled: #666666;
  --color-primary-disabled: #7fa8c5;
  --color-secondary-disabled: #ffb366;

  --color-success: #658864;
  --color-warning: #FFB300;
  --color-error: #E63946;

  // Backgrounds
  --background-base: #FFFFFF;
  --background-primary: var(--color-primary);
  --background-secondary: var(--color-secondary);
  --background-soft: #77CDFF;
  --background-disabled: var(--color-disabled);

  // Texts
  --text-base: var(--color-base);
  --text-secondary: #555555;
  --text-disabled: var(--color-disabled);

  // System
  --system-error: var(--color-error);
  --system-information: var(--color-warning);
  --system-success: var(--color-success);

  // Borders
  --border-base: var(--color-base);
  --border-primary: var(--color-primary);
  --border-secondary: var(--color-secondary);
  --border-disabled: var(--color-disabled);
  --border-radius: 8px;
}

// // Dark Theme
// [data-theme="dark"] {
//   --background-base: #1A1A1A;
//   --background-primary: var(--dark-color-primary);
//   --background-secondary: var(--dark-color-secondary);
//   --background-soft: #77CDFF;
//   --background-disabled: var(--dark-color-disabled);
//   --text-base: #FFFFFF;
//   --text-secondary: #AAAAAA;
//   --text-disabled: var(--dark-color-disabled);
//   --color-base: #FFFFFF;
//   --color-primary: var(--dark-color-primary);
//   --color-secondary: var(--dark-color-secondary);
//   --color-disabled: var(--dark-color-disabled);
//   --system-error: var(--dark-color-system-feedback-error);
//   --system-information: var(--dark-color-system-feedback-warning);
//   --system-success: var(--dark-color-system-feedback-success);
//   --border-base: #FFFFFF;
//   --border-primary: var(--dark-color-primary);
//   --border-secondary: var(--dark-color-secondary);
//   --border-disabled: var(--dark-color-disabled);
// }