@use "./typography";
@use "./reset";

@import '@radix-ui/themes/styles.css';

body {
  background-color: $background-base;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  font-family: $font-family-default;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
