$divider-colors: (
  base: $color-base,
  primary: $color-primary,
  secondary: $color-secondary,
  neutral: $color-neutral,
  soft: $color-soft,
);

.divider {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  &--horizontal {
    height: 1px;
    min-height: 1px;
    width: 100%;

    .divider__line--horizontal {
      width: 100%;
      border-bottom: 1px solid;
      
      @each $name, $value in $divider-colors {
        &.divider__line--#{$name} {
          border-color: $value;
        }
      }
    }
  }

  &--vertical {
    width: 1px;
    min-width: 1px;
    height: 100%;

    .divider__line--vertical {
      height: 100%;
      border-right: 1px solid;
      
      @each $name, $value in $divider-colors {
        &.divider__line--#{$name} {
          border-color: $value;
        }
      }
    }
  }
}