.loading {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &--text {
    font-size: 14px;
    font-weight: 500;
    color: $color-neutral;
  }

  &--overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-bg-overlay;
    z-index: $z-index-loading - 1;
  }

  &--full-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-bg-fullscreen;
    z-index: $z-index-loading;
  }
}

@media (max-width: $breakpoint-tablet) {
  .loading-text {
    font-size: $font-size-caption;
  }
}
